<%- include('partials/navbar')%>

    <% if (locals.user) { %>
        <h1>Welcome <%= user.firstname %>
                <%= user.lastname %>
        </h1>
        <% } else { %>
            <h1>Welcome, Guest!</h1>
            <% } %>
